@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.prompt-border {
  /* border-width: 1px; */
  /* border-image: linear-gradient(to bottom, #f9f9f9, #0F172A) 1;
  border-radius: 5px !important; */
  background: linear-gradient(#0F172A, #0F1723) padding-box, linear-gradient(180deg, rgba(255, 255, 255, 0.13) -0.61%, rgba(255, 255, 255, 0.46) -0.43%, rgba(255, 255, 255, 0.2) 13.63%, rgba(255, 255, 255, 0.03) 100%) border-box;
  border: 1px solid transparent;
}